# pip show pymysql, pandas, sqlalchemy

In [17]:
import pymysql
connection=pymysql.connect(host='maria',
                            user='root',
                            password='qwer1234',
                            db='test',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        sql='''
           drop table if exists users;
        '''
        cursor.execute(sql)
        connection.commit()

    with connection.cursor() as cursor:
        sql='''
            create table if not exists users(
            userid varchar(20) primary key,
            userpw varchar(20) not null,
            username varchar(20) not null,
            userage int,
            usermail varchar(20),
            useradd varchar(50),
            usergender varchar(20),
            usertel varchar(20));
        '''
        cursor.execute(sql)
        connection.commit()

    with connection.cursor() as cursor:
        sql='''
            insert into users values('gildong1','1234','길동',33,
            'gildong@gmail.com','부산시 남구','male','010-1234-1234');
        '''
        cursor.execute(sql)
        connection.commit()
        
        sql='''
            insert into users values('gildong2','1234','길동',19,
            'gildong@gmail.com','부산시 남구','male','010-1234-1234');
        '''
        cursor.execute(sql)
        connection.commit()
        
        sql='''
            insert into users values('gildong3','1234','길동',18,
            'gildong@gmail.com','부산시 남구','male','010-1234-1234');
        '''
        cursor.execute(sql)
        connection.commit()
        
        sql='''
            insert into users values('gildong4','1234','길동',29,
            'gildong@gmail.com','부산시 남구','male','010-1234-1234');
        '''
        cursor.execute(sql)
        connection.commit()

    with connection.cursor() as cursor:
        sql='''
            select  * from users;
        '''
        cursor.execute(sql)
        result=cursor.fetchall()
        print(result)
finally:
    connection.close()

[{'userid': 'gildong1', 'userpw': '1234', 'username': '길동', 'userage': 33, 'usermail': 'gildong@gmail.com', 'useradd': '부산시 남구', 'usergender': 'male', 'usertel': '010-1234-1234'}, {'userid': 'gildong2', 'userpw': '1234', 'username': '길동', 'userage': 19, 'usermail': 'gildong@gmail.com', 'useradd': '부산시 남구', 'usergender': 'male', 'usertel': '010-1234-1234'}, {'userid': 'gildong3', 'userpw': '1234', 'username': '길동', 'userage': 18, 'usermail': 'gildong@gmail.com', 'useradd': '부산시 남구', 'usergender': 'male', 'usertel': '010-1234-1234'}, {'userid': 'gildong4', 'userpw': '1234', 'username': '길동', 'userage': 29, 'usermail': 'gildong@gmail.com', 'useradd': '부산시 남구', 'usergender': 'male', 'usertel': '010-1234-1234'}]

In [ ]:
!pip show pymysql

In [ ]:
!pip show pandas

In [ ]:
!pip show sqlalchemy

In [2]:
import pymysql
import pandas as pd

db = pymysql.connect(host='maria',
                            user='root',
                            password='qwer1234',
                            db='test',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

SQL = "select * from users"
df = pd.read_sql(SQL, db)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234
1,gildong2,1234,길동,9,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [3]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:"+"qwer1234"+"@maria/test", encoding = 'utf-8') # "+"없이 적어도 가능

data = engine.execute("SELECT * FROM users").fetchall()
print(type(data))
print(data)

<class 'list'>
[('gildong1', '1234', '길동', 33, 'gildong@gmail.com', '부산시 남구', 'male', '010-1234-1234'), ('gildong2', '1234', '길동', 9, 'gildong@gmail.com', '부산시 남구', 'male', '010-1234-1234')]

In [4]:
SQL = "select * from users"
df = pd.read_sql(SQL, engine)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234
1,gildong2,1234,길동,9,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [5]:
SQL = "select * from users where userage > 10"
df = pd.read_sql(SQL, engine)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [6]:
df = pd.read_sql('users', engine)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234
1,gildong2,1234,길동,9,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [7]:
data = pd.read_sql_table('users', engine)
data

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234
1,gildong2,1234,길동,9,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [8]:
data = pd.read_sql_table('select * from users', engine) # 오류!! / 테이블명'만' 입력 가능
data                                                    # read_sql_table()의 경우임

ValueError: Table select * from users not found

In [9]:
df = pd.read_sql_query("select * from users where userage < 10;", engine)
df

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong2,1234,길동,9,gildong@gmail.com,부산시 남구,male,010-1234-1234

In [20]:
df = pd.read_sql_query("users", engine) # 오류!! / 쿼리'만' 입력 가능 EX) select문
df

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'users' at line 1")
[SQL: users]
(Background on this error at: http://sqlalche.me/e/f405)

# 6. DataFrame을 json으로 변환

In [19]:
df.to_json() # json에서는 한글이 유니코드 형태로 보임

'{"userid":{"0":"gildong2"},"userpw":{"0":"1234"},"username":{"0":"\\uae38\\ub3d9"},"userage":{"0":9},"usermail":{"0":"gildong@gmail.com"},"useradd":{"0":"\\ubd80\\uc0b0\\uc2dc \\ub0a8\\uad6c"},"usergender":{"0":"male"},"usertel":{"0":"010-1234-1234"}}'

# 7. sqlalchemy를 이용하여 쿼리문 없이 조건 검색
##### [참조 sqlalchemy select](https://docs.sqlalchemy.org/en/13/core/selectable.html#sqlalchemy.sql.expression.select)

In [26]:
import sqlalchemy as sa
metadata = sa.MetaData()

data_table = sa.Table('users', metadata,
                     sa.Column('userid', sa.String, primary_key = True),
                     sa.Column('userpw', sa.String),
                     sa.Column('username', sa.String),
                     sa.Column('userage', sa.Integer),
                     sa.Column('usermail', sa.String),
                     sa.Column('useradd', sa.String),
                     sa.Column('usergender', sa.String),
                     sa.Column('usertel', sa.String)
                     )
pd.read_sql_query(sa.select([data_table]).where(data_table.c.userage > 10).order_by(data_table.c.userid), engine)

,userid,userpw,username,userage,usermail,useradd,usergender,usertel
0,gildong1,1234,길동,33,gildong@gmail.com,부산시 남구,male,010-1234-1234
1,gildong2,1234,길동,19,gildong@gmail.com,부산시 남구,male,010-1234-1234
2,gildong3,1234,길동,18,gildong@gmail.com,부산시 남구,male,010-1234-1234
3,gildong4,1234,길동,29,gildong@gmail.com,부산시 남구,male,010-1234-1234

# 8. pandas.to_sql() DataFrame을 DataBase에 저장